.container {
  margin-top: 15px;
}

.card {
  margin-bottom: 30px;
  font-size: 0.8rem;
}

.card-header {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  border-radius: 0;
}

.card-body {
  min-height: 110px;
}

.btn {
  font-size: 0.8rem;
}